# .envrc

if [[ ! -f "uv.lock" ]]; then
  log_error "uv.lock not found. Please create it by following these steps:

  1. Enter the setup shell:
     nix develop .#impure

  2. Create the lock file:
     uv lock

  3. Add the lock file to git
     git add uv.lock

  4. Exit the shell:
     exit

Then run 'direnv allow' to reload this environment."
else
  use flake .#uv2nix
fi